.main{
    display: flex;
  
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.calculatorDisplay{
    background-color: rgba(247, 216, 41, 0.897);
    display: flex;
    width: 39%;
    text-align: center;
    
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 379px;
}
.screen{
    width: 76%;
    background-color: #f9f3f3;
    height: 46px;
    border-color: #bbc57c;
}

.btn{
  
    background-color: #bbc57c;
    padding: 10px;
    margin: 8px;
}

.zerobtn{
    width: 76%;
    background-color: #bbc57c;
    height: 46px;
    align-content: center;
}



